# -*- mode: gitignore; -*-
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.pdf
*.swap
*.ignore
*.log
.DS_Store
.DS_Store?
*.exe
*.so
*.dll
*.o
*.class
*.zip
*.iso
*.gz
*.tar
*.bz2
*.7z
*.xz
*.dmg
ehthumbs.db
Thumbs.db
